#carrusel{
    overflow: auto;
    white-space: nowrap;
    margin:0 auto;
    text-align: center;
}

.flechas{
    display: inline-block;
    width:30px;
    height:30px;
}

.flechas:hover{
    cursor:pointer;
}

#caja-imagenes{
    display: inline-block;
    width: 50%;
    position: relative;
}

.imagenesCasas {
    height: auto;
    width: 100%;
}

.next {
    background: url(../Iconos/slidebox_next.png) no-repeat;
    background-size: cover;

}

.previous{
    background: url(../Iconos/slidebox_previous.png) no-repeat;
    background-size: cover;

}

#thumbs{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#thumbs label{
    display: block;
    margin-left: 5px;
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding: 2px 4px;
    background: url(../Iconos/slidebox_thumb.png);
    color: #fff;
}

#thumbs label:hover{
    background: #fff;
    color: #000;
    cursor:pointer;
}